body{
    width: 900px;
    margin: auto;
}

input {display: block; margin-bottom: 20px;}
.invisible { display: none;}
.visible {
    display: block;
    position: absolute;
    bottom: 100px;
    width: 900px;
    padding: 65px 0px;
    background-color: rgb(255, 255, 255);
}

label, h1, p, input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(55, 119, 145);
}